.nav {
    height: 50px;
    width: 100%;
}
.nav a {
    text-decoration: none;
}
.nav li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 0px;
    margin: 0px;

}
.nav .logo {
    text-transform: uppercase;
    color: lightBlue;
    font-size: 14px;
    font-weight: 400;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h2 {
    margin-bottom: 1rem;
}
code {
    font-size: 12px;
}